<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Space Cat</title>
  <link rel="stylesheet" href="static/app/content/style.css">
  <link rel="icon" type="image" href="https://code.s3.yandex.net/web-code/rules-favicon.ico">
</head>
<body>

  <header class="header">
    <div class="overlay">
      <h1 class="header-title">Space Cat POMELO</h1>
    </div>
  </header>

  <section class="content">
    <div class="card">
      <img src="https://pictures.s3.yandex.net/frontend-developer/free-course/card-1.jpg" class=card-image>
      <h3 class="card-title">ghgfhdhfhdhfh</h3>
      <p class="card-text">ghgfhdhfhdhfh</p>
    </div>
    
    <div class="card no-right-margin">
      <img src="https://pictures.s3.yandex.net/frontend-developer/free-course/card-2.jpg" class=card-image>
      <h3 class="card-title">ghgfhdhfhdhfh</h3>
      <p class="card-text">ghgfhdhfhdhfh</p>
    </div>
    
    <div class="card">
      <img src="https://pictures.s3.yandex.net/frontend-developer/free-course/card-3.jpg" class=card-image>
      <h3 class="card-title">ghgfhdhfhdhfh</h3>
      <p class="card-text">ghgfhdhfhdhfh</p>
    </div>
    
    <div class="card no-right-margin">
      <img src="https://pictures.s3.yandex.net/frontend-developer/free-course/card-4.jpg" class=card-image>
      <h3 class="card-title">ghgfhdhfhdhfh</h3>
      <p class="card-text">ghgfhdhfhdhfh</p>
    </div>
  </section>
  <footer class="footer">
    <h4 class="footer-author">ghgfhdhfhdhfh</h4>
  </footer>
</body>
</html>
