body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal
}

* {
    box-sizing: border-box;
}

A.yellow {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: #FFDF3A;
}

A.yellow:hover {
    color: white;
}

A.white {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: white;
}

A.white:hover {
    color: #FFDF3A;
}

.header {
    height: 100vh;
    background-color: #eee;
    background-image: url(Spase_cat-wide1.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.header-title {
    font-size: 120px;
    color: #FFDF3A;
    font-family: 'Righteous', cursive;
    font-weight: 500;
    margin: auto;
    width: 100%;
}

.header-title2 {
    font-size: 64px;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    margin: auto;
    width: 100%;
    float: left;
    font-style: italic;
}

.space-cat-title {
    width: 600px;
    height: 250px;
    display: flex;
    float: left;
    text-align: left;
    top: 60%;
    left: 5%;
    display: inline-block;
    position: absolute;
}


.menu{
    width: 1310px;
    height: 100px;
    margin: 0 auto;
}

.menu-text {
    font-size: 36px;
    color: #FFDF3A;
    font-family: 'Righteous', cursive;
    float: left; /*Задаем обтекание*/
    line-height: 100px; /*Высота строки +  верт. центрирования текста*/
    font-size: 40px;
    width: 320px; /*Фиксируем ширину блока*/
    text-align: center; /*Центрируем текст по горизонтали*/
}

.all-content {
    width: 100%;
    background-image: url(19.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 200px;
}

.yellow-box {
    width: 100%;
    height: 50px;
    background-color: #FFDF3A;
}

.content {
    font-size: 0;
    width: 1100px;
    margin: 0px auto;
    background-color: white;
}

.text-block {
    width: 100%;
    height: auto;
    padding-top: 150px;
    padding: 60px 130px 90px;
}

.text-block-title {
    font-size: 96px;
    color: #FFDF3A;
    font-family: 'Righteous', cursive;
    text-align: center;
    margin-bottom: 50px;
}

.text-block-text {
    font-size: 36px;
    color: black;
    font-family: 'Red Hat Text', sans-serif;
    line-height: 180%;
    letter-spacing: 2px;
}

.block-separator {
    width: 100%;
    height: 30px;
    background-color: white;
}

.block-separator-line {
    width: 500px;
    height: 10px;
    background-color: #FFDF3A;
    float: left;
    margin-top: 10px;
}

.block-separator-circle {
    width: 30px;
    height: 30px;
    background-color: #FFDF3A;
    border-radius: 15px;
    margin: auto;
    position: absolute;
    display: inline-block;
    margin-left: 35px
}

.to-left {
    margin-left: 100px;
}

.home-pade-product-block {
    width: 98.95vw; /*Определено опытным путём*/
    height: 700px;
    background-color: #FFDF3A;
    margin-left: 50%;
    margin-bottom: 70px;
    transform: translateX(-50%);
    text-align: center;
    padding: 125px;
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px;
    overflow: hidden;
}

.card {
    margin: 30px;
    width: 350px;
    height: 450px;
    display: inline-block;
    background-color: white;
    box-shadow: rgba(0, 0, 0, .1) 0 5px 5px;
    object-fit: cover;
    position: relative
}

.market-block {
    width: 98.95vw; /*Определено опытным путём*/
    height: auto;
    background-color: #FFDF3A;
    margin-left: 50%;
    margin-bottom: 70px;
    transform: translateX(-50%);
    text-align: center;
    padding: 125px;
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px;
}

.no-right-margin {
    margin-right: 0;
}

.card-title {
    height: 80%;
    font-size: 36px;
    color: white;
    font-family: 'Righteous', cursive;
    top: 320px;
    width: 100%;
    position: absolute;
    text-shadow: rgba(0, 0, 0, .3) 0 5px 5px;
}


.card-image {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    object-fit: cover
}

.product-block {
    width: 98.95vw; 
    height: auto;
    background-color: #FFDF3A;
    margin-left: 50%;
    margin-bottom: 70px;
    transform: translateX(-50%);
    text-align: center;
    padding: 125px;
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px;

}

.product {
    width: 80%;
    height: auto;
    padding: 0;
    margin: auto;
    white-space: nowrap;
}

.product-image {

    margin: 0;
    width: 48%;
    height: 80vh;
    display: inline-block;
    margin-right: 4%;
    vertical-align: top;
    background-size: cover;
    background-position: center;
}

.product-definition {
    margin: 0;
    width: 48%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.product-definition-title {
    font-size: 36px;
    color: white;
    font-family: 'Righteous', cursive;
    font-weight: 500;
    margin: auto;
    width: 100%;
    white-space: normal;
    text-shadow: rgba(0, 0, 0, .3) 0 5px 5px;
}

.buy-button {
    background-color: white;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 5px;
    margin: 30px;
    height: 50px;
    text-align: center;
}
.text-buy-button {
    height: auto;
    font-size: 24px;
    color: black;
    font-family: 'Red Hat Text', sans-serif;
    line-height: 180%;
    letter-spacing: 2px;
}


.product-definition-text {
    height: auto;
    font-size: 24px;
    color: black;
    font-family: 'Red Hat Text', sans-serif;
    line-height: 180%;
    letter-spacing: 2px;
    text-align: left;
}

.footer {
    height: 200px;
    background-color: #FFDF3A;
    display: flex;
}

.footer-author {
    font-size: 24px;
    color: white;
    margin: auto;
    font-family: 'Red Hat Text', sans-serif;
}

/* */

.lirdsanugsa {
    background: #181818;
    color: #FFF;
    position: absolute;
    top: -249px;
    left: 0;
    width: 100%;
    height: 249px;
    padding: 18px;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    box-sizing: border-box;
}

    .lirdsanugsa h1 {
        color: #f9f4f4;
    }

#sapimeglan_zornet {
    position: absolute;
    cursor: pointer;
    left: -100%;
    top: -100%;
}

    #sapimeglan_zornet + label {
        position: absolute;
        cursor: pointer;
        padding: 10px;
        background: #266eae;
        width: 100px;
        border-radius: 53px;
        padding: 7px 9px;
        color: #fdf9f9;
        line-height: 19px;
        font-size: 12px;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        margin: 19px 48px;
        transition: all 500ms ease;
    }

        #sapimeglan_zornet + label:after {
            content: "Open"
        }

.gukolpestud {
    transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    padding: 5em 3em;
}

#sapimeglan_zornet:checked ~ .lirdsanugsa {
    top: 0;
}

#sapimeglan_zornet:checked ~ .gukolpestud {
    margin-top: 250px;
}

#sapimeglan_zornet:checked + label {
    background: #089e30;
}

    #sapimeglan_zornet:checked + label:after {
        content: "Close"
    }