body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal
}

* {
    box-sizing: border-box;
}
/*
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
*/
.header {
    height: 100vh;
    background-color: #eee;
    background-image: url(Spase_cat-wide1.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.header-title {
    font-size: 120px;
    color: #FFDF3A;
    font-family: 'Righteous', cursive;
    font-weight: 500;
    margin: auto;
    width: 100%;
}

.header-title2 {
    font-size: 64px;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    margin: auto;
    width: 100%;
    float: left;
    font-style: italic;
}

.overlay {
    width: 600px;
    height: 250px;
    display: flex;
    float: left;
    display: inline-block;
    text-align: left;
    top: 60%;
    left: 5%;
    position: absolute
}


.menu{
    width: 1310px;
    height: 100px;
    margin: 0 auto;
}

.menu-text {
    font-size: 36px;
    color: #FFDF3A;
    font-family: 'Righteous', cursive;
    float: left; /*Задаем обтекание*/
    line-height: 100px; /*Высота строки +  верт. центрирования текста*/
    font-size: 40px;
    width: 320px; /*Фиксируем ширину блока*/
    text-align: center; /*Центрируем текст по горизонтали*/
}

.all-content {
    width: 100%;
    background-image: url(19.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.yellow-box {
    width: 100%;
    height: 50px;
    background-color: #FFDF3A;
}

.content {
    font-size: 0;
    width: 1100px;
    margin: 0px auto;
    background-color: white;
}

.text-block {
    width: 100%;
    height: auto;
    padding-top 150px;
    padding: 60px 130px 70px;
}

.text-block-title {
    font-size: 96px;
    color: #FFDF3A;
    font-family: 'Righteous', cursive;
    text-align: center;
    margin-bottom: 50px;
}

.text-block-text {
    font-size: 36px;
    color: black;
    font-family: 'Red Hat Text', sans-serif;
    line-height: 180%;
    letter-spacing: 2px;
}

.card {
    width: 350px;
    margin-bottom: 60px;
    margin-right: 90px;
    padding: 45px 45px 70px;
    display: inline-block;
    box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
}

.no-right-margin {
    margin-right: 0;
}

.card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
}

.card-image {
    width: 100%;
    margin-bottom: 25px;
}

.footer {
    height: 200px;
    background-color: #FFDF3A;
    display: flex;
}

.footer-author {
    font-size: 24px;
    color: white;
    margin: auto;
}
